.subheading {
  font-weight: 600;
  font-size: 16px;
  color: #6941c6;
}

.heading {
  font-weight: 600;
  font-size: 36px;
  color: #101828;
}

.supportingText {
  font-weight: 400;
  font-size: 20px;
  color: #475467;
}

.icon {
  height: 48px;
  width: 48px;
  background-color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: #101828;
}

.content {
  font-weight: 400;
  font-size: 16px;
  color: #475467;
}

.imgContainer {
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 400px) {
  .heading {
    line-height: 38px;
  }
  .supportingText {
    line-height: 28px;
  }
}
