.box{
  display: block;
}
.subheading {
  font-weight: 600;
  font-size: 16px;
  color: #6941c6;
}

.heading {
  font-weight: 600;
  font-size: 36px;
  color: #101828;
}

.supportingText {
  font-weight: 400;
  font-size: 20px;
  color: #475467;
}

.icon {
  height: 48px;
  width: 48px;
  background-color: #ffffff;
}

.title {
  font-weight: 600;
  font-size: 20px;
  color: #101828;
}

.content {
  font-weight: 400;
  font-size: 16px;
  color: #475467;
}

.imgBox {
  width: 1280px;
  display: flex;
  justify-content: center;
}

.imgContainer {
  width: 1280px; 
  height: auto;
}

.img {
  width: 100%; 
  margin: 0 10px;
  height: auto;
  object-fit: contain; 
}


@media screen and (max-width: 400px) {
  .supportingText {
    width: 343px;
    height: 150px;
  }
  .imgBox {
    width: 343px;
  }
}

